@charset "UTF-8";
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0;
  background-color: #e3e3e3;
}

* {
  box-sizing: border-box;
}

.tinted {
  color: #086dd6;
}

.tinted-selected {
  color: white;
}

*:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #086dd6;
  text-decoration: none;
}
a.no-decoration {
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
a:hover.no-decoration {
  text-decoration: none;
}

p {
  overflow: auto;
}

.main-ui-view {
  min-height: 100vh;
  height: 100vh;
  overflow: auto;
  background-color: #e3e3e3;
}

.app {
  height: calc(100% - 32px);
  width: 100%;
  display: flex;
  vertical-align: top;
  overflow: hidden;
  position: relative;
}
.app panel-resizer {
  top: 0;
  right: 0;
  z-index: 1;
  width: 8px;
  height: 100%;
  position: absolute;
  cursor: col-resize;
  background-color: #e0e0e0;
  opacity: 0;
}
.app panel-resizer.left {
  left: 0;
  right: none;
}
.app panel-resizer.always-visible {
  opacity: 1;
}
.app panel-resizer.collapsed {
  opacity: 1;
}
.app panel-resizer.dragging {
  opacity: 1;
}
.app panel-resizer.hoverable:hover {
  opacity: 1;
}
.app .section {
  padding-bottom: 0px;
  height: 100%;
  max-height: calc(100vh - 32px);
  font-size: 17px;
  position: relative;
  overflow: hidden;
}
.app .section .scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}
.app .section > .content {
  height: 100%;
  max-height: 100%;
  background-color: white;
  position: relative;
}
.app .section .section-title-bar {
  font-weight: bold;
  font-size: 14px;
}
.app .section .section-title-bar .padded {
  padding: 0 14px;
}
.app .section .section-title-bar .section-title-bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.app .section .section-title-bar .section-title-bar-header > .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  overflow: hidden;
}
.app .section .section-title-bar .section-title-bar-header > .add-button {
  color: #666666;
  font-size: 18px;
  width: 45px;
  height: 24px;
  cursor: pointer;
  background-color: #e9e9e9;
  border-radius: 4px;
  font-weight: normal;
  text-align: center;
}
.app .section .section-title-bar .section-title-bar-header > .add-button:hover {
  background-color: gainsboro;
  color: #666666;
}

.icon {
  margin-right: 4px;
}

.selectable {
  user-select: text !important;
  cursor: text;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.faded {
  opacity: 0.5;
}

.center-align {
  text-align: center !important;
}

.block {
  display: block !important;
}

.wrap {
  word-wrap: break-word;
  word-break: break-all;
}

.medium-padding {
  padding: 10px !important;
}

.red {
  color: red !important;
}

.bold {
  font-weight: bold !important;
}

.normal {
  font-weight: normal !important;
}

.small {
  font-size: 10px;
}

.medium {
  font-size: 14px !important;
}

#footer-bar {
  position: relative;
  width: 100%;
  height: 32px;
  max-height: 32px;
  z-index: 100;
}

#footer-bar .item {
  z-index: 1000;
  position: relative;
  user-select: none;
}
#footer-bar .item .panel {
  max-height: 85vh;
  position: absolute;
  right: 0px;
  left: 10px;
  bottom: 40px;
  min-width: 300px;
  z-index: 1000;
  margin-top: 15px;
  background-color: white;
}

#account-panel {
  width: 400px;
}

.panel {
  cursor: default;
}

a.disabled {
  pointer-events: none;
}

#lock-item {
  margin-left: 3px;
}

.icon.ion-locked {
  margin-left: 5px;
  border-left: 1px solid gray;
  padding-left: 8px;
}

.tags {
  width: 180px;
  flex-grow: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.tags, .tags #tags-content {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}
.tags #tags-title-bar {
  color: black;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}
.tags #tag-add-button {
  background-color: #d7d7d7;
}
.tags #tag-add-button:hover {
  background-color: rgba(215, 215, 215, 0.8);
}
.tags .scrollable {
  height: 100%;
}
.tags .infinite-scroll {
  overflow-x: hidden;
  height: inherit;
}
.tags .tag {
  min-height: 30px;
  padding: 5px 12px;
  cursor: pointer;
  transition: height .1s ease-in-out;
  position: relative;
  font-size: 14px;
  /* When a note is dragged over tag */
}
.tags .tag > .info {
  height: 20px;
}
.tags .tag > .info > .title {
  width: 80%;
  background-color: transparent;
  font-weight: 600;
  float: left;
  color: black;
  border: none;
  cursor: pointer;
  text-overflow: ellipsis;
  width: 75%;
  pointer-events: none;
}
.tags .tag > .info > .count {
  position: absolute;
  right: 17px;
  padding-top: 1px;
  font-weight: bold;
}
.tags .tag > .menu {
  font-size: 11px;
  opacity: 0.5;
  font-weight: bold;
  clear: both;
  margin-top: 2px;
  margin-bottom: 2px;
}
.tags .tag > .menu > .item {
  margin-right: 2px;
}
.tags .tag > .menu:hover {
  opacity: 1.0;
}
.tags .tag.selected {
  background-color: #dbdbdb;
  color: black;
}
.tags .tag.selected > .title {
  color: black;
  cursor: text;
}
.tags .tag.over {
  background-color: #dbdbdb;
  color: black;
  border: 2px dashed white;
}
.tags .tag.over > .title {
  color: black;
}
.tags .tag:hover:not(.selected) {
  background-color: #dbdbdb;
  color: black;
}
.tags .tag:hover:not(.selected) > .title {
  color: black;
}

#notes-column, .notes {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  width: 350px;
  flex-grow: 0;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
#notes-column .content, .notes .content {
  display: flex;
  flex-direction: column;
}
#notes-column #notes-title-bar, .notes #notes-title-bar {
  padding-top: 16px;
  font-weight: normal;
  font-size: 18px;
}
#notes-column #notes-title-bar .section-title-bar-header .title, .notes #notes-title-bar .section-title-bar-header .title {
  color: rgba(0, 0, 0, 0.4);
  width: calc(90% - 45px);
}
#notes-column #notes-menu-bar, .notes #notes-menu-bar {
  position: relative;
  margin-top: 14px;
}
#notes-column .filter-section, .notes .filter-section {
  clear: left;
  height: 32px;
  margin-top: 14px;
  position: relative;
}
#notes-column .filter-section .filter-bar, .notes .filter-section .filter-bar {
  background-color: #e9e9e9;
  border-radius: 4px;
  height: 100%;
  color: #909090;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
  border: none;
  width: 100%;
  position: relative;
}
#notes-column .filter-section #search-clear-button, .notes .filter-section #search-clear-button {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  color: white;
  cursor: default;
  background-color: gray;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: background-color 0.15s linear;
}
#notes-column .filter-section #search-clear-button:hover, .notes .filter-section #search-clear-button:hover {
  background-color: #086dd6;
}
#notes-column .scrollable, .notes .scrollable {
  height: 100%;
}
#notes-column .infinite-scroll, .notes .infinite-scroll {
  overflow-x: hidden;
  height: inherit;
}
#notes-column .note, .notes .note {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
  background-color: white;
}
#notes-column .note > .name, .notes .note > .name {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}
#notes-column .note > .date, .notes .note > .date {
  font-size: 12px;
  margin-top: 4px;
}
#notes-column .note .tags-string, .notes .note .tags-string {
  margin-bottom: 4px;
  font-size: 13px;
}
#notes-column .note .pinned .icon, .notes .note .pinned .icon {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 2px;
}
#notes-column .note .note-preview, .notes .note .note-preview {
  font-size: 15px;
  margin-top: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-height: 18px;
  /* fallback */
  max-height: calc(18px * 1);
  /* fallback */
}
#notes-column .note.selected, .notes .note.selected {
  background-color: #086dd6;
  color: white;
}
#notes-column .note.selected .pinned, .notes .note.selected .pinned {
  color: white;
}

.editor {
  flex: 1 50%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: white;
}

#editor-title-bar {
  width: 100%;
  padding-top: 14px;
  padding-left: 14px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: white;
  border-bottom: none;
  z-index: 100;
  height: auto;
  overflow: visible;
}
#editor-title-bar > .title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 0px;
  width: 100%;
  padding-right: 120px;
  /* make room for save status */
}
#editor-title-bar > .title > .input {
  float: left;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: transparent;
}
#editor-title-bar > .title > .input:disabled {
  color: black;
}
#editor-title-bar #save-status {
  width: 20%;
  float: right;
  position: absolute;
  right: 20px;
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
  margin-top: 4px;
  text-align: right;
  color: rgba(0, 0, 0, 0.23);
}
#editor-title-bar .editor-tags {
  clear: left;
  width: 100%;
  overflow: visible;
  position: relative;
}
#editor-title-bar .editor-tags #note-tags-component-container {
  height: 50px;
}
#editor-title-bar .editor-tags #note-tags-component-container iframe {
  height: 50px;
  width: 100%;
  position: absolute;
}
#editor-title-bar .editor-tags .tags-input {
  background-color: transparent;
  width: 100%;
  border: none;
}

.editor-content, #editor-content {
  flex: 1;
  z-index: 10;
  overflow-y: hidden;
  height: 100%;
  display: flex;
  background-color: white;
  position: relative;
}
.editor-content #editor-iframe, #editor-content #editor-iframe {
  flex: 1;
  width: 100%;
}
.editor-content .editable, #editor-content .editable {
  font-family: monospace;
  overflow-y: scroll;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  padding-top: 11px;
  font-size: 17px;
  resize: none;
}

#editor-pane-component-stack {
  width: 100%;
}
#editor-pane-component-stack .component-stack-item {
  width: 100%;
  position: relative;
  border-top: 1px solid #e3e3e3;
}
#editor-pane-component-stack .component-stack-item iframe {
  width: 100%;
}

.app-bar .item {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  float: left;
  min-width: 160px;
  z-index: 100;
  margin-top: 5px;
  width: 280px;
  max-height: calc(85vh - 90px);
  background-color: white;
  color: black;
}

#permissions-modal {
  width: 350px;
}
#permissions-modal .panel {
  border-radius: 0;
  background-color: white;
}
#permissions-modal .content {
  padding-top: 1.1rem;
}
#permissions-modal .footer {
  padding-bottom: 1.4rem;
}

.panel {
  background-color: white;
}

.header .subtitle {
  font-size: 1.1rem;
}

.modal {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.3);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .sn-component {
  height: 100%;
}
.modal .sn-component .panel {
  height: 100%;
}
.modal.medium > .content {
  width: 700px;
  height: 500px;
}
.modal .background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.modal > .content {
  overflow-y: auto;
  width: auto;
  padding: 0;
  padding-bottom: 0;
  min-width: 300px;
}

.component-view-container {
  flex-grow: 1;
  display: flex;
  height: 100%;
  width: 100%;
}

.component-view {
  flex-grow: 1;
  display: flex;
  overflow: auto;
}
.component-view .sn-component {
  min-width: 100%;
}
.component-view iframe {
  flex: 1;
  width: 100%;
}

#lock-screen {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#lock-screen .background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
#lock-screen .panel {
  width: 315px;
  flex-grow: 0;
}
#lock-screen .panel .header {
  justify-content: center;
}

.panel {
  color: black;
}
.panel .header .close-button:hover {
  text-decoration: none;
}
.panel input {
  min-height: 39px;
}
.panel .button-group.stretch .button:not(.featured) {
  padding: 9px;
}
.panel a {
  color: #086dd6;
}

/*!
  Ionicons, v2.0.1
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/
@font-face {
  font-family: "Ionicons";
  src: url("../assets/ionicons.eot?v=2.0.0");
  src: url("../assets/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("../assets/ionicons.ttf?v=2.0.1") format("truetype"), url("../assets/ionicons.woff?v=2.0.1") format("woff"), url("../assets/ionicons.svg?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.ion, .ionicons, .ion-ios-box:before, .ion-bookmark:before, .ion-locked:before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ion-ios-box:before {
  content: "\f3ec";
}

.ion-locked:before {
  content: "\f200";
}

.ion-bookmark:before {
  content: "\f26b";
}

/*# sourceMappingURL=ionicons.css.map */

/*# sourceMappingURL=app.css.map */
.sn-component {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}
.sn-component .panel {
  box-shadow: 0px 2px 13px #C8C8C8;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}
.sn-component .panel a:hover {
  text-decoration: underline;
}
.sn-component .panel.static {
  box-shadow: none;
  border: none;
  border-radius: 0;
}
.sn-component .panel .header {
  flex-shrink: 0;
  /* Don't allow to condense in height */
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 2rem;
  border-bottom: 1px solid #E1E1E1;
  background-color: #F6F6F6;
  align-items: center;
}
.sn-component .panel .header .close-button {
  font-weight: bold;
}
.sn-component .panel .footer, .sn-component .panel .panel-footer {
  padding: 1rem 2rem;
  border-top: 1px solid #E1E1E1;
  box-sizing: border-box;
}
.sn-component .panel .footer .left, .sn-component .panel .panel-footer .left {
  text-align: right;
  display: block;
}
.sn-component .panel .footer .right, .sn-component .panel .panel-footer .right {
  text-align: right;
  display: block;
}
.sn-component .panel .content {
  padding: 1.6rem 2rem;
  padding-bottom: 0;
  flex-grow: 1;
  overflow: scroll;
  height: 100%;
  overflow-y: auto !important;
  overflow-x: auto !important;
}
.sn-component .panel .content p, .sn-component .panel .content li {
  color: #454545;
  line-height: 1.3;
}
.sn-component .panel .content .label, .sn-component .panel .content .panel-section .subtitle, .sn-component .panel-section .panel .content .subtitle {
  font-weight: bold;
}
.sn-component .panel-section {
  padding-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
}
.sn-component .panel-section.hero {
  text-align: center;
}
.sn-component .panel-section p:last-child {
  margin-bottom: 0;
}
.sn-component .panel-section:not(:last-child) {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #DDDDDD;
}
.sn-component .panel-section:not(:last-child).no-border {
  border-bottom: none;
}
.sn-component .panel-section:last-child {
  margin-bottom: 0.5rem;
}
.sn-component .panel-section.no-bottom-pad {
  padding-bottom: 0;
  margin-bottom: 0;
}
.sn-component .panel-section .outer-title {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 0.9rem;
  margin-top: 2.1rem;
  margin-bottom: 15px;
}
.sn-component .panel-section .subtitle {
  margin-top: -0.5rem;
}
.sn-component .panel-section .subtitle.subtle {
  font-weight: normal;
  opacity: 0.6;
}
.sn-component .panel-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.4rem;
}
.sn-component .panel-row.centered {
  justify-content: center;
}
.sn-component .panel-row.justify-right {
  justify-content: flex-end;
}
.sn-component .panel-row.justify-left {
  justify-content: flex-start;
}
.sn-component .panel-row.align-top {
  align-items: flex-start;
}
.sn-component .panel-row .panel-column.stretch {
  width: 100%;
}
.sn-component .panel-row.default-padding, .sn-component .panel-row:not(:last-child) {
  padding-bottom: 0.4rem;
}
.sn-component .panel-row.default-padding.condensed, .sn-component .panel-row:not(:last-child).condensed {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.sn-component .panel-row p {
  margin: 0;
  padding: 0;
}
.sn-component .panel-form {
  width: 100%;
}
.sn-component .panel-form.half {
  width: 50%;
}
.sn-component .panel-form .form-submit {
  margin-top: 0.15rem;
}
.sn-component .right-aligned {
  justify-content: flex-end;
  text-align: right;
}
.sn-component .menu-panel {
  box-shadow: 0px 4px 4px #C8C8C8;
  border-radius: 0.6rem;
  overflow: scroll;
  user-select: none;
  overflow-y: auto !important;
  overflow-x: auto !important;
}
.sn-component .menu-panel .header {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #e2e2e2;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sn-component .menu-panel .header .subtitle {
  font-size: 0.95rem;
  margin-top: 0.2rem;
  opacity: 0.6;
}
.sn-component .menu-panel .row {
  padding: 1rem 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}
.sn-component .menu-panel .row:hover {
  background-color: #efefef;
}
.sn-component .menu-panel .row .column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Nested row */
}
.sn-component .menu-panel .row .column:not(:first-child) {
  padding-left: 1.0rem;
  padding-right: 0.15rem;
}
.sn-component .menu-panel .row .column.stretch {
  width: 100%;
}
.sn-component .menu-panel .row .column .subrows {
  margin-top: 1rem;
}
.sn-component .menu-panel .row .column .row, .sn-component .menu-panel .row .column .subrow {
  border: 1px solid #DDDDDD;
  margin-top: -1px;
}
.sn-component .menu-panel .row .column .row:hover, .sn-component .menu-panel .row .column .subrow:hover {
  background-color: #f7f7f7;
}
.sn-component .menu-panel .row .column .left {
  display: flex;
}
.sn-component .menu-panel .row .button .label, .sn-component .menu-panel .row .box .label, .sn-component .menu-panel .row .circle .label, .sn-component .menu-panel .row .button .panel-section .subtitle, .sn-component .panel-section .menu-panel .row .button .subtitle, .sn-component .menu-panel .row .box .panel-section .subtitle, .sn-component .panel-section .menu-panel .row .box .subtitle, .sn-component .menu-panel .row .circle .panel-section .subtitle, .sn-component .panel-section .menu-panel .row .circle .subtitle {
  font-size: 0.8rem;
  font-weight: normal;
}
.sn-component .menu-panel .row .label, .sn-component .menu-panel .row .panel-section .subtitle, .sn-component .panel-section .menu-panel .row .subtitle {
  font-size: 1rem;
  font-weight: bold;
}
.sn-component .menu-panel .row .sublabel {
  font-size: 0.9rem;
  margin-top: 0.2rem;
  opacity: 0.6;
}
.sn-component .red {
  color: #F80324;
}
.sn-component .tinted {
  color: #086DD6;
}
.sn-component .selectable {
  user-select: text !important;
}
.sn-component h1, .sn-component h2, .sn-component h3, .sn-component h4, .sn-component h5 {
  margin: 0;
  padding: 0;
}
.sn-component h1 {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.9rem;
}
.sn-component h2 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.sn-component h3 {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.7rem;
}
.sn-component h4 {
  font-weight: bold;
  font-size: 0.95rem;
  line-height: 1.4rem;
}
.sn-component h5 {
  font-weight: bold;
  font-size: 0.85rem;
}
.sn-component a {
  cursor: pointer;
}
.sn-component .wrap {
  word-wrap: break-word;
}
.sn-component *.info {
  color: #086DD6;
}
.sn-component *.warning {
  color: #f6a200;
}
.sn-component *.danger {
  color: #F80324;
}
.sn-component *.success {
  color: #2B9612;
}
.sn-component *.clear {
  background-color: transparent;
  border: none;
}
.sn-component .center-text {
  text-align: center !important;
  justify-content: center !important;
}
.sn-component p {
  margin: 0.5rem 0;
}
.sn-component input {
  box-sizing: border-box;
  padding: 0.75rem 0.8rem;
  margin: 0.30rem 0;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  font-size: 1.1rem;
  width: 100%;
  outline: 0;
  resize: none;
}
.sn-component input.info {
  border-color: #086DD6;
  background-color: transparent;
  color: #086DD6;
}
.sn-component input.info::-webkit-input-placeholder {
  color: rgba(8, 109, 214, 0.5);
}
.sn-component label {
  margin: 0.7rem 0;
  display: block;
  font-size: 1.1rem;
}
.sn-component label input[type='checkbox'], .sn-component input[type='radio'] {
  width: auto;
  margin-right: 0.45rem;
  /* Space after checkbox */
  vertical-align: middle;
}
.sn-component .horizontal-group > *, .sn-component .input-group > * {
  display: inline-block;
  vertical-align: middle;
}
.sn-component .horizontal-group > *:not(:first-child), .sn-component .input-group > *:not(:first-child) {
  margin-left: 0.9rem;
}
.sn-component .border-bottom {
  border-bottom: 1px solid #DDDDDD;
}
.sn-component .checkbox-group {
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
}
.sn-component ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
}
.sn-component :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c4c4c4;
}
.sn-component ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c4c4c4;
}
.sn-component .button-group.stretch {
  display: flex;
  width: 100%;
}
.sn-component .button-group.stretch .button, .sn-component .button-group.stretch .box, .sn-component .button-group.stretch .circle {
  display: block;
  flex-grow: 1;
  text-align: center;
}
.sn-component .button-group .button, .sn-component .button-group .box, .sn-component .button-group .circle {
  display: inline-block;
}
.sn-component .button-group .button:not(:last-child), .sn-component .button-group .box:not(:last-child), .sn-component .button-group .circle:not(:last-child) {
  margin-right: 5px;
}
.sn-component .button-group .button:not(:last-child).featured, .sn-component .button-group .box:not(:last-child).featured, .sn-component .button-group .circle:not(:last-child).featured {
  margin-right: 8px;
}
.sn-component .box-group .box {
  display: inline-block;
}
.sn-component .box-group .box:not(:last-child) {
  margin-right: 5px;
}
.sn-component a.button, .sn-component a.box, .sn-component a.circle {
  text-decoration: none;
}
.sn-component .button, .sn-component .box, .sn-component .circle {
  display: table;
  border-radius: 3px;
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  border: 1px solid;
}
.sn-component .button .label, .sn-component .box .label, .sn-component .circle .label, .sn-component .button .panel-section .subtitle, .sn-component .panel-section .button .subtitle, .sn-component .box .panel-section .subtitle, .sn-component .panel-section .box .subtitle, .sn-component .circle .panel-section .subtitle, .sn-component .panel-section .circle .subtitle {
  font-weight: bold;
  display: block;
  text-align: center;
}
.sn-component .button.big, .sn-component .big.box, .sn-component .big.circle {
  font-size: 1.1rem;
  padding: 0.7rem 2.5rem;
}
.sn-component .box {
  padding: 2.5rem 1.5rem;
}
.sn-component .button.default, .sn-component .default.box, .sn-component .default.circle, .sn-component .box.default, .sn-component .circle.default {
  background-color: rgba(139, 139, 139, 0.1);
  border-color: #8b8b8b;
  color: #8b8b8b;
}
.sn-component .button.default:hover, .sn-component .default.box:hover, .sn-component .default.circle:hover, .sn-component .box.default:hover, .sn-component .circle.default:hover {
  background-color: white;
  color: #939393;
}
.sn-component .button.default.featured, .sn-component .default.featured.box, .sn-component .default.featured.circle, .sn-component .box.default.featured, .sn-component .circle.default.featured {
  background-color: #8b8b8b;
  border: none;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.1rem;
}
.sn-component .button.default.featured:hover, .sn-component .default.featured.box:hover, .sn-component .default.featured.circle:hover, .sn-component .box.default.featured:hover, .sn-component .circle.default.featured:hover {
  background-color: #9f9f9f;
}
.sn-component .button.info, .sn-component .info.box, .sn-component .info.circle, .sn-component .box.info, .sn-component .circle.info {
  background-color: rgba(8, 109, 214, 0.1);
  border-color: #086DD6;
  color: #086DD6;
}
.sn-component .button.info:hover, .sn-component .info.box:hover, .sn-component .info.circle:hover, .sn-component .box.info:hover, .sn-component .circle.info:hover {
  background-color: #d5e9fd;
  color: #0975e5;
}
.sn-component .button.info.featured, .sn-component .info.featured.box, .sn-component .info.featured.circle, .sn-component .box.info.featured, .sn-component .circle.info.featured {
  background-color: #086DD6;
  border: none;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.1rem;
}
.sn-component .button.info.featured:hover, .sn-component .info.featured.box:hover, .sn-component .info.featured.circle:hover, .sn-component .box.info.featured:hover, .sn-component .circle.info.featured:hover {
  background-color: #1181f6;
}
.sn-component .button.warning, .sn-component .warning.box, .sn-component .warning.circle, .sn-component .box.warning, .sn-component .circle.warning {
  background-color: rgba(246, 162, 0, 0.1);
  border-color: #f6a200;
  color: #f6a200;
}
.sn-component .button.warning:hover, .sn-component .warning.box:hover, .sn-component .warning.circle:hover, .sn-component .box.warning:hover, .sn-component .circle.warning:hover {
  background-color: #fff8ec;
  color: #ffaa06;
}
.sn-component .button.warning.featured, .sn-component .warning.featured.box, .sn-component .warning.featured.circle, .sn-component .box.warning.featured, .sn-component .circle.warning.featured {
  background-color: #f6a200;
  border: none;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.1rem;
}
.sn-component .button.warning.featured:hover, .sn-component .warning.featured.box:hover, .sn-component .warning.featured.circle:hover, .sn-component .box.warning.featured:hover, .sn-component .circle.warning.featured:hover {
  background-color: #ffb320;
}
.sn-component .button.danger, .sn-component .danger.box, .sn-component .danger.circle, .sn-component .box.danger, .sn-component .circle.danger {
  background-color: rgba(248, 3, 36, 0.1);
  border-color: #F80324;
  color: #F80324;
}
.sn-component .button.danger:hover, .sn-component .danger.box:hover, .sn-component .danger.circle:hover, .sn-component .box.danger:hover, .sn-component .circle.danger:hover {
  background-color: #fff1f3;
  color: #fc0e2e;
}
.sn-component .button.danger.featured, .sn-component .danger.featured.box, .sn-component .danger.featured.circle, .sn-component .box.danger.featured, .sn-component .circle.danger.featured {
  background-color: #F80324;
  border: none;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.1rem;
}
.sn-component .button.danger.featured:hover, .sn-component .danger.featured.box:hover, .sn-component .danger.featured.circle:hover, .sn-component .box.danger.featured:hover, .sn-component .circle.danger.featured:hover {
  background-color: #fc2744;
}
.sn-component .button.success, .sn-component .success.box, .sn-component .success.circle, .sn-component .box.success, .sn-component .circle.success {
  background-color: rgba(43, 150, 18, 0.1);
  border-color: #2B9612;
  color: #2B9612;
}
.sn-component .button.success:hover, .sn-component .success.box:hover, .sn-component .success.circle:hover, .sn-component .box.success:hover, .sn-component .circle.success:hover {
  background-color: #b7f5a8;
  color: #2fa414;
}
.sn-component .button.success.featured, .sn-component .success.featured.box, .sn-component .success.featured.circle, .sn-component .box.success.featured, .sn-component .circle.success.featured {
  background-color: #2B9612;
  border: none;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.1rem;
}
.sn-component .button.success.featured:hover, .sn-component .success.featured.box:hover, .sn-component .success.featured.circle:hover, .sn-component .box.success.featured:hover, .sn-component .circle.success.featured:hover {
  background-color: #35ba16;
}
.sn-component .notification.default {
  background-color: #F6F6F6;
  border-color: #DDDDDD;
}
.sn-component .notification.info {
  background-color: rgba(8, 109, 214, 0.1);
  border-color: #086DD6;
  color: #086DD6;
}
.sn-component .notification.info.featured {
  background-color: #086DD6;
  border: none;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.1rem;
}
.sn-component .notification.info.featured:hover {
  background-color: #1181f6;
}
.sn-component .notification.warning {
  background-color: rgba(246, 162, 0, 0.1);
  border-color: #f6a200;
  color: #f6a200;
}
.sn-component .notification.warning.featured {
  background-color: #f6a200;
  border: none;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.1rem;
}
.sn-component .notification.warning.featured:hover {
  background-color: #ffb320;
}
.sn-component .notification.danger {
  background-color: rgba(248, 3, 36, 0.1);
  border-color: #F80324;
  color: #F80324;
}
.sn-component .notification.danger.featured {
  background-color: #F80324;
  border: none;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.1rem;
}
.sn-component .notification.danger.featured:hover {
  background-color: #fc2744;
}
.sn-component .notification.success {
  background-color: rgba(43, 150, 18, 0.1);
  border-color: #2B9612;
  color: #2B9612;
}
.sn-component .notification.success.featured {
  background-color: #2B9612;
  border: none;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.1rem;
}
.sn-component .notification.success.featured:hover {
  background-color: #35ba16;
}
.sn-component .notification {
  border: 1px solid;
  padding: 1.1rem 1rem;
  margin: 1.4rem 0;
  text-align: left;
  border-radius: 0.2rem;
  cursor: default;
}
.sn-component .notification.one-line {
  padding: 0rem 0.4rem;
}
.sn-component .notification.stretch {
  width: 100%;
}
.sn-component .notification.dashed {
  border-style: dashed;
}
.sn-component .notification .text {
  line-height: 1.5rem;
  font-size: 1.05rem;
  text-align: left;
  font-weight: normal;
}
.sn-component .circle {
  border-color: #DDDDDD;
  background-color: #F6F6F6;
  padding: 0;
  border-radius: 50%;
}
.sn-component .circle.small {
  width: 11px;
  height: 11px;
}
.sn-component .spinner {
  border: 1px solid #515263;
  border-radius: 50%;
  animation: rotate 0.8s infinite linear;
  border-right-color: transparent;
}
.sn-component .spinner.small {
  width: 12px;
  height: 12px;
}
.sn-component .spinner.info {
  border-color: #086DD6;
  border-right-color: transparent;
}
.sn-component .spinner.warning {
  border-color: #f6a200;
  border-right-color: transparent;
}
.sn-component .spinner.danger {
  border-color: #F80324;
  border-right-color: transparent;
}
.sn-component .spinner.success {
  border-color: #2B9612;
  border-right-color: transparent;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sn-component .app-bar {
  display: flex;
  width: 100%;
  height: 2rem;
  padding: 0.1rem 0.8rem;
  background-color: #F6F6F6;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #DDDDDD;
  user-select: none;
}
.sn-component .app-bar.no-edges {
  border-left: 0;
  border-right: 0;
}
.sn-component .app-bar .left, .sn-component .app-bar .right {
  display: flex;
  height: 100%;
}
.sn-component .app-bar .item {
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sn-component .app-bar .item:not(:first-child) {
  margin-left: 1rem;
}
.sn-component .app-bar .item.border {
  border-left: 1px solid #DDDDDD;
}
.sn-component .app-bar .item > .column {
  height: 100%;
  display: flex;
  align-items: center;
}
.sn-component .app-bar .item > .column:not(:first-child) {
  margin-left: 0.5rem;
}
.sn-component .app-bar .item.no-pointer {
  cursor: default;
}
.sn-component .app-bar .item:hover > .label:not(.subtle), .sn-component .app-bar .panel-section .item:hover > .subtitle:not(.subtle), .sn-component .panel-section .app-bar .item:hover > .subtitle:not(.subtle), .sn-component .app-bar .item:hover > .sublabel:not(.subtle), .sn-component .app-bar .item:hover > .column > .label:not(.subtle), .sn-component .app-bar .panel-section .item:hover > .column > .subtitle:not(.subtle), .sn-component .panel-section .app-bar .item:hover > .column > .subtitle:not(.subtle), .sn-component .app-bar .item:hover > .column > .sublabel:not(.subtle) {
  color: #086DD6;
}
.sn-component .app-bar .item > .label, .sn-component .app-bar .panel-section .item > .subtitle, .sn-component .panel-section .app-bar .item > .subtitle, .sn-component .app-bar .item > .column > .label, .sn-component .app-bar .panel-section .item > .column > .subtitle, .sn-component .panel-section .app-bar .item > .column > .subtitle {
  font-weight: bold;
  font-size: 0.9rem;
  white-space: nowrap;
}
.sn-component .app-bar .item > .sublabel, .sn-component .app-bar .item > .column > .sublabel {
  font-size: 0.9rem;
  font-weight: normal;
  white-space: nowrap;
}
.sn-component .app-bar .item .subtle {
  font-weight: normal;
  opacity: 0.6;
}
.sn-component .panel-table {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1px;
  padding-top: 1px;
}
.sn-component .panel-table .table-item {
  flex: 45%;
  flex-flow: wrap;
  border: 1px solid #DDDDDD;
  padding: 1rem;
  margin-left: -1px;
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sn-component .panel-table .table-item img {
  max-width: 100%;
  margin-bottom: 1rem;
}
.sn-component .panel-table .table-item .item-content {
  display: flex;
  flex-direction: row;
}
.sn-component .panel-table .table-item .item-column {
  align-items: center;
}
.sn-component .panel-table .table-item .item-column.stretch {
  width: 100%;
}
.sn-component .panel-table .table-item .item-column:not(:first-child) {
  padding-left: 0.75rem;
}
.sn-component .panel-table .table-item .item-column.quarter {
  flex-basis: 25%;
}
.sn-component .panel-table .table-item .item-column.three-quarters {
  flex-basis: 75%;
}
.sn-component .panel-table .table-item .item-footer {
  margin-top: 1.25rem;
}
.sn-component .panel-table .table-item.no-border {
  border: none;
}

/*# sourceMappingURL=stylekit.css.map */
